* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  color: white;
}

header {
  height: 20vh;
  display: flex;

  > div:nth-of-type(1) {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #0f62fe;
    border-right: 2px solid #0f62fe;

    > img {
      border-radius: 50%;
      width: 120px;
    }
  }

  > div:nth-of-type(2) {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;

    > div {
      width: 50%;
      padding: 0 0 0 2rem;
      border-right: 2px solid #0f62fe;

      > h1 {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 5px;
      }

      > ul {
        padding-top: 0.5rem;
        > li {
          list-style-type: none;
        }
      }
    }
  }

  > div:nth-of-type(3) {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > p {
      font-size: 1.2rem;

      &:nth-of-type(2) {
        text-decoration: underline;
        text-underline-offset: 5px;
        font-weight: bold;
      }
    }

    > a {
      background-color: #0f62fe;
      color: white;
      padding: 0.5rem;
      margin: 1rem 0;
      border: none;
      font-size: 1.2rem;
      transition: all 0.5s;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: #0f62fe;
        transform: scale(1.05);
      }
    }
  }
}

main {
  display: flex;
  height: 80vh;

  > div:nth-of-type(1) {
    width: 15%;

    > h1 {
      text-align: center;
      margin: 1rem 0;
      text-decoration: underline;
      text-underline-offset: 5px;
    }

    > ul {
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > li {
        list-style-type: none;
        background-color: #0f62fe;
        color: white;
        padding: 0.5rem;
        margin: 1rem 0;
        border: none;
        font-size: 1.2rem;
        transition: all 0.5s;
        border-radius: 10px;
        width: 70%;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: #0f62fe;
          transform: scale(1.05);
        }

        > a {
          all: unset;
        }
      }
    }
    > p {
      font-size: 1.2rem;
      text-align: center;
      margin-top: 5rem;

      &:nth-of-type(2) {
        background-color: #0f62fe;
        color: white;
        padding: 0.5rem;
        width: 50%;
        margin: 1rem auto;
        border-radius: 10px;
        font-weight: bold;
      }
    }
  }

  > div:nth-of-type(2) {
    width: 85%;
    background-color: white;
    display: flex;

    > div {
      color: black;
      width: 50%;

      > h1 {
        text-align: center;
      }

      > div {
        overflow-y: scroll;
        height: 90%;
        width: 90%;
        margin: auto;
        border: 2px solid #0f62fe;
      }
    }
  }
}

.project {
  box-shadow: 12px 10px 38px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 12px 10px 38px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 12px 10px 38px 0px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
}

.conferences {
  box-shadow: 12px 10px 38px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 12px 10px 38px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 12px 10px 38px 0px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
}

footer {
  height: 40vh;
  border-top: 2px solid #0f62fe;

  > div {
    display: flex;
    justify-content: space-between;
    > div {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 1rem 0;

      > img {
        width: 100px;
        border-radius: 50%;
      }
      > h1 {
        margin: 0.5rem;
      }
    }
  }

  > p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 2rem;
  }
}

#login-form {
  visibility: hidden;
  background-color: #262626;
  box-shadow: 12px 10px 38px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 12px 10px 38px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 12px 10px 38px 0px rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 500px;
  height: 300px;

  > h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 1.5rem;
  }

  > form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;

    > div {
      margin: 0.5rem;
      > label {
        font-size: 1.5rem;
      }

      > input {
        height: 2rem;
        padding: 0.5rem;
      }
    }

    > input[type="button"] {
      background-color: #0f62fe;
      color: white;
      padding: 0.5rem;
      margin: 1rem 0;
      border: none;
      font-size: 1.2rem;
      font-weight: bold;
      transition: all 0.5s;
      border-radius: 10px;
      cursor: pointer;
      width: 100px;

      &:hover {
        background-color: white;
        color: #0f62fe;
        transform: scale(1.05);
      }
    }
  }
}

/* #add-projects,
#add-conferences {
  display: none;
} */

/* For Icons */
.fa {
  padding: 0.5rem;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-instagram {
  background: #55acee;
  color: white;
}
